<h4><%= @user.username%></h4>
<h4><%= @user.email%></h4>

<a href="<%= edit_user_path(@user.id) %>" class="btn btn-primary">edit</a>
<a href="/users" class="btn btn-primary">back</a>

<a href="<%= new_post_path %>" class="btn btn-success">New post</a>
